@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Reenie+Beanie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #ffffff;
  --black: #000000;
  --light-grey: #f9f9f9;
}
body {
  font-family: Josefin Sans, sans-serif;
  background-color: var(--light-grey);
  color: var(--black);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black);
}


.banner {
  background-image: url("/images/bannerimage.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.banner-content {
  color: var(--primary-color);
  font-size: 5rem;
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 60%;
}
.banner-content button {
  position: absolute;
  left: 60%;
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 40px;
  font-size: 1.25rem;
  font-weight: 400;
}

.images-container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.grid-container img {
  width: 100%;
  height: auto;
}
.grid-container p {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}
.glide__slides {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.glide__slide {
  flex: 1 1 400px;
  max-width: 400px;
  text-align: center;
}
.glide__slide img {
  width: 100%;
  height: auto;
}
.glide__slide p {
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.feature-products {
  background-color: var(--light-grey);
  padding-top: 30px;
}
.feature-products h2 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {

  .banner {
    height: 40vh;
    
  }
  .banner-content{
    top: 15%;
  }

  .banner-content p {
    font-size: 18px;
  }

  .banner-content button {
    font-size: 16px;
    padding: 8px 16px;
    left: auto;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .glide__slide {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .glide__slides {
    flex-direction: row;
    overflow-x: auto;
  }

  .glide__slide {
    flex: 0 0 400px;
    max-width: 100%;
  }
}
